/*xxLarge Device*/
@media only screen and (min-width: 1401px) and (max-width: 1796px) {
    .main-menu ul > li > a{
        padding: 20px 3px;
        font-size: 14px;
    }
}
/*Extra Large Device*/
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .finlance_header.header_v1 .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header_v1 .header_navigation .site_menu .button_box .finlance_btn{
        margin-left: 20px;
    }
    .main-menu ul > li > a{
        padding: 37px 7px;
        font-size: 14px;
    }
    .feature_v1 .container-fluid{
        padding-left: 100px;
        padding-right: 100px;
    }
    .feature_v1 .grid_item {
        padding: 40px 10px;
    }
    .feature_v1 .grid_item .finlance_content h4{
        font-size: 16px;
    }
    .project_v1 .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*Large Device*/
@media only screen and (min-width: 992px) and (max-width : 1200px) {
     .finlance_header.header_v1 .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header_v1 .header_navigation{
        padding: 0 20px;
    }
    .header_v1 .header_navigation .site_menu .brand img{
        max-width: 100px
    }
    .main-menu ul li{
        margin-left: 5px;
        margin-right: 5px;
    }
    .main-menu ul > li > a{
        padding: 20px 5px;
        font-size: 12px;
    }
    .header_v1 .header_navigation .site_menu .button_box .search_icon{
        font-size: 12px;
    }
    .header_v1 .header_navigation .site_menu .button_box .finlance_btn{
        min-width: 100px;
        margin-left: 20px;
    }
    .feature_v1 .grid_item .finlance_content h3{
        font-size: 22px;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content {
        padding: 35px 60px 39px;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content p {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 18px;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content h3 {
        margin-bottom: 0px;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content img {
        margin-bottom: 10px;
    }
    .blog_v1 .grid_item .finlance_content .post_meta span {
        margin-right: 15px;
        font-size: 14px;
    }
    .blog_v1 .grid_item .finlance_content {
        padding: 30px 20px 20px;
    }
    .project_v1 .container-fluid,
    .feature_v1 .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer_v1 .contact_widget {
        margin-left: 0;
    }
}

@media only screen and (max-width : 991px) {
    li.submenus ul {
        position: static;
        background: transparent;
    }
    .mobile_menu.mean-container li ul {
        max-height: 300px;
        overflow-y: scroll;
    }    
}

/*Medium Device*/
@media only screen and (min-width: 768px) and (max-width : 991px) {
    .finlance_img img{
        width: 100%;
    }
    .mean-container .mean-bar {
        background: transparent;
        padding: 0;
        min-height: 0;
    }
    .mean-container .mean-nav{
        margin-top: 10px;
    }
    .mean-container a.meanmenu-reveal{
        top: -35px;
        padding: 0;
    }
    .section_title h2{
        font-size: 32px;
        line-height: 40px;
    }
    .header_v1 .header_navigation .site_menu.primary_menu{
        display: none;
    }
    .header_v1 .header_navigation .site_menu .button_box{
        display: none;
    }
    .header_v1 .header_navigation{
        padding: 10px 20px 0;
    }
    .header_v1 .top_header .top_left{
        text-align: center;
        margin-bottom: 20px;
    }
    .header_v1 .top_header .top_left span{
        margin-right: 15px;
        margin-left: 15px;
    }
    .header_v1 .top_header .top_right {
        float: none;
        justify-content: center;
    }
    .hero_slide_v1 .single_slider .banner_content p {
        font-size: 30px !important;
        margin-bottom: 25px;
}
    .hero_slide_v1 .single_slider .banner_content h1 {
        font-size: 66px !important;
        line-height: 72px;
    }
    .finlance_header.header_v1 .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    .project_v1 .container-fluid,
    .feature_v1 .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .feature_v1 .grid_item {
        padding: 70px 25px;
    }
    .about_v1 .finlance_box_img{
        margin-bottom: 60px;
    }
    .about_v1 .finlance_content_box{
        padding-left: 0;
    }
    .we_do_v1 .finlance_content_box{
        margin-bottom: 40px;
    }
    .finlance_fun_v1 .counter_box {
        margin-bottom: 40px;
    }
    .pricing_v1 .pricing_box .pricing_body ul li span{
        display: block;
    }
    .pricing_v1 .pricing_box,
    .team_v1 .grid_item,
    .blog_v1 .grid_item{
        margin-bottom: 40px;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content {
        background: #fff5f5;
        padding: 10px 20px 13px;
        margin-left: -20px;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content p {
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 5px;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content h3 {
        margin-bottom: 0px;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content img {
        margin-bottom: 10px;
    }
    .blog_v1 .grid_item .grid_inner_item .finlance_content .post_meta span {
        margin-right: 10px;
    }
    .cta_v1 .section_title{
        text-align: center;
    }
    .cta_v1 .button_box {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
    .blog_v1 .grid_item .finlance_content {
        padding: 63px 30px;
    }
    .footer_v1 .contact_widget{
        margin-left: 0;
    }
    .widget_box{
        margin-bottom: 40px;
    }
    .footer_v1 .copyright_text {
        text-align: center;
    }
    .footer_v1 .footer_bottom .social_box {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .finlance_img img{
        width: 100%;
    }
    .mean-container .mean-bar {
        background: transparent;
        padding: 0;
        min-height: 0;
    }
    .mean-container .mean-nav{
        margin-top: 10px;
    }
    .mean-container a.meanmenu-reveal {
        top: -35px;
        padding: 0;
    }
    .section_title h2{
        font-size: 32px;
        line-height: 40px;
    }
    .header_v1 .header_navigation .site_menu.primary_menu{
        display: none;
    }
    .header_v1 .header_navigation .site_menu .button_box{
        display: none;
    }
    .header_v1 .header_navigation{
        padding: 10px 20px 3px;
    }
    .header_v1 .top_header .top_left{
        text-align: center;
        margin-bottom: 20px;
    }
    .header_v1 .top_header .top_left span{
        margin-right: 15px;
        margin-left: 15px;
    }
    .header_v1 .top_header .top_right {
        float: none;
        justify-content: center;
    }
    .header_v1 .top_header .top_right .social li {
        margin-left: 5px;
    }
    .hero_slide_v1 .single_slider {
        padding: 270px 0 250px;
    }
    .hero_slide_v1 .single_slider .banner_content p{
        font-size: 20px !important;
        margin-bottom: 5px;
    }
    .hero_slide_v1 .single_slider .banner_content h1 {
        font-size: 46px !important;
        line-height: 55px;
    }
    .hero_slide_v1 .single_slider .banner_content h2 {
        font-size: 26px !important;
        margin-bottom: 20px;
    }
    .finlance_header.header_v1 .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    .project_v1 .container-fluid,
    .feature_v1 .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .feature_v1 .grid_item {
        padding: 70px 25px;
    }
    .about_v1 .finlance_content_box{
        padding-left: 0;
    }
    .about_v1 .finlance_box_img{
        margin-bottom: 60px;
    }
    .we_do_v1 .finlance_content_box{
        padding-right: 0;
        margin-bottom: 40px;
    }
    .we_do_v1 .finlance_icon_box .icon_list .text h3{
        font-size: 22px;
    }
    .finlance_fun_v1 .counter_box {
        margin-bottom: 40px;
        text-align: center;
    }
    .finlance_fun_v1 .counter_box .icon::after{
        left: 50%;
        margin-left: -30px;
    }
    .pricing_v1 .pricing_box .pricing_body ul li span{
        display: block;
    }
    .testimonial_v1 .testimonial_slide .testimonial_box .finlance_content{
        padding: 20px;
        margin-left: 0;
    }
    .pricing_v1 .pricing_box,
    .team_v1 .grid_item,
    .blog_v1 .grid_item{
        margin-bottom: 40px;
    }
    .blog_v1 .grid_item .finlance_content {
        padding: 65px 20px;
    }
    .blog_v1 .grid_item .grid_inner_item .finlance_content .post_meta span {
        margin-right: 10px;
        font-size: 14px;
    }
    .cta_v1 .section_title{
        text-align: center;
    }
    .cta_v1 .button_box {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
    .footer_v1 .contact_widget{
        margin-left: 0;
    }
    .widget_box{
        margin-bottom: 40px;
    }
    .footer_v1 .copyright_text {
        text-align: center;
    }
    .footer_v1 .footer_bottom .social_box {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 414px){
    .header_v1 .top_header .top_right .dropdown .btn i {
        display: none;
    }
    .header_v1 .top_header .top_right .social li a {
        font-size: 14px;
    }
    .header_v1 .top_header .top_right .dropdown .btn {
        font-size: 14px;
    }
    ul.login a {
        font-size: 14px;
    }
    .header_v1 .top_header .top_right .social {
        margin-right: 15px;
    }
}

/* Mobile Devices, Tablets */
@media only screen and (max-width: 360px){
    .blog_v1 .grid_item .finlance_content {
        padding: 35px 20px;
    }
}
/* Mobile Devices, Tablets */
@media only screen and (min-width: 450px) and (max-width : 767px) {
    .blog_v1 .grid_item .finlance_content {
        padding: 55px 30px;
    }
}