.top_header .top_left {
    text-align: right;
}
.top_header .top_left span {
    margin-right: 0;
    margin-left: 35px;
}
.top_header .top_left span i{
	margin-right: 0;
	margin-left: 10px;
}
.top_header .top_right .social {
    margin-right: 0;
    margin-left: 40px;
}
.top_header .top_right .dropdown .btn i {
    margin-right: 0px;
    margin-left: 10px;
}
.site_menu {
    text-align: right;
}
.header_v1 .header_navigation .site_menu .button_box {
    float: left;
}
.header_v1 .header_navigation .site_menu .button_box .lawyer_btn{
	margin-left: 0;
	margin-right: 50px;
}
.hero_slide_v1 .single_slider .banner_content {
    padding-right: 0px;
    padding-left: 50px;
    text-align: right;
}
.main-menu ul li ul.mega-menu,
.main-menu ul li > ul.sub-menu{
    left: auto;
    right: 0;
    text-align: right
}
.feature_v1 .grid_item{
	text-align: right;
}
.feature_v1 .grid_item .lawyer_icon:after{
	left: auto;
	right: 0;
}
.feature_v1 .grid_item .lawyer_icon i{
	padding-left: 0;
	padding-right: 35px;
}
.feature_v1 .grid_item .lawyer_content {
    margin-left: 0;
    margin-right: 20px;
}
.about_v1 .lawyer_content_box {
    text-align: right;
}
.about_v1 .lawyer_box_img {
    padding-right: 0;
    padding-left: 70px;
}
.about_v1 .lawyer_box_img .lawyer_img:after{
	left: auto;
    right: -70px;
}
.about_v1 .lawyer_box_img .lawyer_img:nth-child(1){
	text-align: right;
}
.about_v1 .lawyer_box_img .lawyer_img:nth-child(2) {
    right: auto;
    left: 70px;
}
.we_do_v1 .lawyer_content_box {
    text-align: right;
}
.we_do_v1 .lawyer_icon_box .icon_list .text {
    margin-left: 0;
    margin-right: 20px;
    text-align: right;
}
.counter_box {
    text-align: right;
}
.lawyer_fun_v1 .counter_box .icon i {
    margin-left: 0;;
    margin-right: 35px;
}
.lawyer_fun_v1 .counter_box .icon::after{
	left: auto;
	right: 0;
}
.testimonial_v1 .section_title{
	text-align: right;
}
.testimonial_box .lawyer_content_box {
    text-align: right;
}
.testimonial_v1 .testimonial_slide .testimonial_box .lawyer_content_box .admin_box .info {
    margin-left: 0;
    text-align: right;
    margin-right: 20px;
}
.project_v1 .section_title{
	text-align: right;
}
.cta_v1 .section_title {
    text-align: right;
}
.cta_v1 .button_box {
    float: left;
}
.blog_v1 .section_title{
	text-align: right;
}
.blog_v1 .button_box {
    float: left !important;
}
.btn_link:after{
	padding-left: 0;
	padding-right: 10px;
}
.blog_v1 .grid_item .grid_inner_item .lawyer_content{
	text-align: right;
}
.blog_v1 .grid_item .grid_inner_item .lawyer_content .post_meta span{
    margin-right: 0px;
    margin-left: 25px;	
}
.blog_v1 .grid_item .grid_inner_item .lawyer_content .post_meta span i{
	margin-right: 0px;
	margin-left: 10px;
}
.footer_v1 .widget_box{
	text-align: right;
}
.footer_v1 .copyright_text {
    text-align: right;
}
.footer_v1 .footer_bottom .social_box {
    float: left;
}
.footer_v1 .footer_bottom .social_box ul li{
	margin-left: 0;
	margin-right: 5px;
}

.hero_slide_v1 .slick-prev{
    left: auto;
    right: -100%;
}
.hero_slide_v1 .slick-next{
    right: auto;
    left: -100%;
}
.hero_slide_v1:hover .slick-prev{
    left: auto;
    right: 60px;
}
.hero_slide_v1:hover .slick-next{
    right: auto;
    left: 60px;
}
.service_slide .slick-prev:before,
.blog_slide .slick-prev:before,
.team_slide .slick-prev:before,
.project_slide .slick-prev:before,
.pricing_slide .slick-prev:before,
.hero_slide_v1 .slick-prev:before{
    transform: rotate(180deg);
}
.service_slide .slick-next:before,
.blog_slide .slick-next:before,
.team_slide .slick-next:before,
.project_slide .slick-next:before,
.pricing_slide .slick-next:before,
.hero_slide_v1 .slick-next:before{
    transform: rotate(180deg);
}
.service_slide:hover .slick-prev,
.blog_slide:hover .slick-prev,
.team_slide:hover .slick-prev,
.project_slide:hover .slick-prev,
.pricing_slide:hover .slick-prev{
    right: 60px;
    left: auto;
}
.service_slide:hover .slick-next,
.blog_slide:hover .slick-next,
.team_slide:hover .slick-next,
.project_slide:hover .slick-next,
.pricing_slide:hover .slick-next{
    right: auto;
    left: 60px;
}
.service_slide .slick-next,
.blog_slide .slick-next,
.team_slide .slick-next,
.project_slide .slick-next,
.pricing_slide .slick-next{
    right: auto;
    left: -60px;
}
.service_slide  .slick-prev,
.blog_slide  .slick-prev,
.team_slide .slick-prev,
.project_slide .slick-prev,
.pricing_slide .slick-prev{
    left: auto;
    right: -60px;
}


.testimonial_slide .slick-prev{
    right: auto;
    left: 65px;
}
.testimonial_slide .slick-next{
    right: auto;
    left: 0;
}
.testimonial_slide .slick-prev:before,
.testimonial_slide .slick-next:before{
    transform: rotate(180deg);
}
.main-menu ul li.menu-item-has-children > a:after {
    margin-left: 0;
    margin-right: 10px;
}
li.submenus::after {
    content: "\f100";
    right: auto;
    left: 30px;
}
li.submenus ul {
    left: auto;
    right: 100%;
}

/*xxLarge Device*/
@media only screen and (min-width: 1401px) and (max-width: 1796px) {
    
}
/*Extra Large Device*/
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .header_v1 .header_navigation .site_menu .button_box .finlance_btn {
	    margin-left: 0px;
	    margin-right: 20px;
	}
}
/*Large Device*/
@media only screen and (min-width: 992px) and (max-width : 1200px) {
    
}

/*Medium Device*/
@media only screen and (min-width: 768px) and (max-width : 991px) {
    .top_header .top_left span {
	    margin-right: 0;
	    margin-left: 15px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {
	.mean-container a.meanmenu-reveal{
		right: auto !important;
		left: 0 !important;
	}
	.cta_v1 .button_box {
	    float: none;
	}
	.cta_v1 .section_title {
	    text-align: center;
	}
	.blog_v1 .button_box {
	    float: none !important;
	    text-align: right;
	}
	.blog_v1 .grid_item .grid_inner_item .lawyer_content .post_meta span {
	    margin-left: 10px;
	}
	.footer_v1 .footer_bottom .social_box {
	    float: none;
	}
	.footer_v1 .copyright_text {
	    text-align: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.top_header .top_left {
	    text-align: center;
	}
	.top_header .top_left span {
	    margin-right: 0;
	    margin-left: 10px;
	}
    .lawyer_fun_v1 .counter_box .icon::after {
	    left: auto;
	    right: 50%;
	}
}
/* Mobile Devices, Tablets */
@media only screen and (max-width: 359px){
    
}
/* Mobile Devices, Tablets */
@media only screen and (min-width: 450px) and (max-width : 767px) {
    
}