.support-contact-info {
    text-align: right;
}
.support-bar-area ul.social-links::after {
    left: 0px;
}
.language {
    margin-right: 17px;
    margin-left: 0px;
}
.support-bar-area ul.social-links {
    padding-left: 20px;
}
.support-bar-area .address {
    margin-right: 0px;
    margin-left: 25px;
    display: inline-block;
}
.main-menu li.dropdown {
    margin-left: 12px;
    margin-right: 0px;
}
.main-menu li.dropdown::after {
    right: 0px;
    left: -5px;
}
.main-menu li a.boxed-btn {
    margin-right: 20px;
    margin-left: 0px;
}
.hero-txt {
    padding-right: 0px;
    padding-left: 270px;
    text-align: right;
}
.single-hero-feature {
    text-align: right;
}
.intro-txt {
    text-align: right;
}
.approach-summary {
    padding-right: 0px;
    padding-left: 150px;
    text-align: right;
}
.approach-icon-wrapper {
    float: right;
}
.approach-text {
    margin-left: 0px;
    margin-right: 110px;
    text-align: right;
}

.statistics-section h5 i {
    margin-right: 0px;
    margin-left: 6px;
}
a.readmore-btn::after {
    right: 35px;
}
a.readmore-btn:hover::after {
    right: 29px;
}
.client-desc {
    margin-left: 0px;
    margin-right: 100px;
    text-align: right;
}
.single-testimonial .img-wrapper {
    float: right;
}
.blog-txt {
    text-align: right;
}
.contact-btn-wrapper {
    text-align: left;
}
.cta-section h3 {
    text-align: right;
}
.footer-section .footer-txt {
    text-align: right;
}
ul.footer-links li a {
    padding-right: 15px;
    padding-left: 0px;
}
ul.footer-links li {
    text-align: right;
}
ul.footer-links li a::after {
    right: 0px;
    transform: rotateY(180deg);
    left: auto;
}
.footer-section h4 {
    text-align: right;
}
input[type="text"], input[type="email"], input[type="date"], input[type="number"], input[type="tel"], input[type="url"], input[type="color"], input[type="datetime-local"], input[type="range"], input[type="month"], input[type="week"], input[type="search"], input[type="time"] {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding-left: 23px;
    border: 1px solid #ddd;
    outline: 0;
    border-radius: 1px;
    padding-left: 0px;
    padding-right: 23px;
}
.footer-newsletter p {
    text-align: right;
}
.footer-newsletter button[type="submit"], .footer-newsletter input[type="submit"] {
    float: right;
}
.footer-contact-info ul li {
    text-align: right;
}
.footer-contact-info ul li span {
    margin-left: 0px;
    margin-right: 15px;
}
.video-play-button span {
    margin: 7px 6px 0px 0px;
}
.mega-dropdown-content .service-category h3 {
    text-align: right;
}
.mega-dropdown-content .service-category a {
    text-align: right;
}
.mega-dropdown-content .service-category a {
    padding-left: 0px;
    padding-right: 15px;
}
.mega-dropdown-content .service-category a::before {
    transform: rotateY(180deg);
}
.mega-dropdown .dropbtn i {
    margin-left: 0px;
    margin-right: 3px;
}
.main-menu li.dropdown ul.dropdown-lists li a {
    text-align: right;
}
.service-txt {
    text-align: right;
}
.searchbar input[type="text"], .searchbar input[type="search"] {
    float: right;
}
.searchbar button[type="submit"], .searchbar input[type="submit"] {
    float: right;
}
.blog-sidebar-widgets.category-widget {
    text-align: right;
}
.category-lists ul li a::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
}
.category-lists ul li a {
    padding-left: 0;
    padding-right: 10px;
}
.subscribe-section {
    text-align: right;
}
.subscribe-section h3::after {
    right: 0;
    left: auto;
}
.support-bar-area .support-contact-info i {
    margin-right: 0px;
    margin-left: 4px;
}
span.phone {
    display: inline-block;
}
span.phone i {
    float: right;
}
.breadcrumb-area .breadcrumb-txt {
    text-align: right;
}
ul.breadcumb li::after {
    left: -17px;
    transform: rotateY(180deg);
}
ul.breadcumb li {
    margin-left: 0px;
    margin-right: 25px;
}
ul.breadcumb li:first-child {
    margin-right: 0;
    margin-left: auto;
}
.support-bar-area .address {
    margin-left: 20px;
}
.project-infos {
    text-align: right;
}
.mfp-counter {
    direction: ltr;
}
.main-menu li.dropdown ul.dropdown-lists {
    left: auto;
}
.category-lists.job li a span {
    float: left;
}
.job-lists .single-job {
    text-align: right;
}
.job-details .info {
    text-align: right;
}
.job-details h3 {
    text-align: right;
}
.faq-section .accordion .card .card-header .btn::after {
    right: auto;
    left: 30px;
}
.faq-section .accordion .card .card-header .btn {
    text-align: right !important;
}
.faq-section .accordion .card .card-header .btn[aria-expanded="true"]::after {
    right: auto;
    left: 30px;
}
.faq-section .card-body {
    text-align: right;
}
.blog-details {
    text-align: right;
}
.blog-share ul li:last-child {
    margin-right: 15px;
    margin-left: 0px;
}
.blog-share {
    text-align: right;
}
textarea {
    padding-left: 0px;
    padding-right: 23px;
}
.contact-infos {
    left: auto;
    right: 30px;
}
.single-contact-info i {
    margin-right: 0;
    margin-left: 20px;
}
input[type="submit"], button[type="submit"] {
    float: right;
}
.contact-form-section .section-summary {
    padding-right: 0;
    padding-left: 80px;
}
.contact-form-section .section-title {
    display: block;
    text-align: right;
}
.hero2-carousel.owl-theme .owl-dots {
    right: auto;
    left: 28px;
}
.form-element label {
    text-align: right;
}
.form-element {
    text-align: right;
}
form {
    text-align: right;
}
.custom-control-inline {
    margin-right: 0px;
    margin-left: 1rem;
}
.form-element::after, .footer-newsletter::after {
    content: "";
    display: block;
    clear: both;
}
.slicknav_menu .slicknav_icon {
    width: auto;
}
h5.service-title {
    padding-left: 0px;
    padding-right: 20px;
}
.contact-form-section .section-summary {
    text-align: right;
}
#toast-container>div {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position: right 15px center;
}
.services-area .services-item .services-content a.title {
    text-align: right;
}
.services-area .services-item .services-content p {
    text-align: right;
}
.services-area .services-item .services-content a {
    float: right;
}
.services-area .services-item .services-content::after {
    content: '';
    display: block;
    clear: both;
}
.services-area .services-item .services-content a i {
    margin-left: 0px;
    margin-right: 18px;
}
.order-comfirmation .table {
    text-align: right;
}










select {
    padding-right: 15px;
}
.product-area .shop-sidebar .shop-box {
    text-align: right;
}
.product-area .shop-sidebar .shop-box .sidebar-title .title::after {
    left: 0;
    right: 17px;
}
.product-area .shop-sidebar .shop-box .sidebar-title .title::before {
    right: 0;
}
.product-area .shop-search i {
    right: auto;
    left: 30px;
}
.product-details-area .product-details-content .product-details-content-item .title {
    text-align: right;
}
.product-details-area .product-details-content .product-details-content-item span {
    text-align: right;
}
.product-quantity button {
    height: 50px;
}
.product-details-area .product-details-content .product-social-icon {
    text-align: right;
}
.product-details-area .product-details-content .product-details-tags {
    padding-top: 15px;
    text-align: right;
}
.product-details-area .product-details-content .product-details-tags ul li span {
    float: right;
    margin-left: 10px;
}
.actions {
    display: flex;
}
.actions .checkout-btn {
    margin-right: 10px;
}
.shop-review-area {
    text-align: right;
}
.shop-review-area .shop-review-user img {
    right: 0;
    left: auto;
}
.shop-review-area .shop-review-user {
    padding-left: 0;
    padding-right: 75px;
}
.cart-total-table li span.col.col-title {
    float: right;
}
.cart-total-table li span.col {
    float: right;
}
.cart-total-table li span.col.col-title {
    border-left: 1px solid #e8e6f4;
    border-right: none;
}
.checkout-area .table .cart-table.shipping-method tbody tr td {
    padding-left: 0;
    padding-right: 30px;
}
.user-sidebar {
    text-align: right;
}
.user-dashbord .main-info ul.list {
    float: right;
}
.user-dashbord .main-info ul.list {
    width: auto;
    margin-left: 20px;
    text-align: right;
}
.user-dashbord .main-info h5 {
    margin-bottom: 15px;
    text-align: right;
}
.dataTables_wrapper .dataTables_length {
    float: right;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
}
.main-table .dataTables_wrapper input[type="search"] {
    direction: ltr;
}
.order-info {
    text-align: right;
}
.order-info-area .prinit {
    float: left;
}
.order-info-area .prinit .btn i {
    margin-right: 0;
    margin-left: 10px;
}
.user-dashbord .main-info ul.list li p span {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
.payment-information {
    text-align: right;
}
.payment-information span {
    display: inline-block;
    margin-right: 8px;
}
.product-list h5 {
    text-align: right;
}
.table td, .table th {
    text-align: right;
}
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    text-align: right;
}
table.dataTable tbody th, table.dataTable tbody td {
    text-align: right;
}
div.dataTables_wrapper div.dataTables_info {
    float: right;
}
div.dataTables_wrapper div.dataTables_paginate {
    float: left;
}
table.dataTable thead th, table.dataTable thead td {
    text-align: right;
}
.description {
    text-align: right;
}
.single-message {
    text-align: right;
}
.single-message .user-img {
    margin-right: 0;
    margin-left: 30px;
}
.reply-section > h5 {
    text-align: right;
}
.form-element label {
    text-align: left;
}
.message-section>h5 {
    text-align: right;
}
.file-upload-area {
    margin-left: 0px;
    margin-right: 30px;
}
.form_control {
    padding-left: 0;
    padding-right: 23px;
}
.user-dashbord .title {
    text-align: right;
}
.summary {
    text-align: right;
}
ul.login {
    margin-left: 0;
    margin-right: 20px;
}
ul.login::before {
    left: auto;
    right: -12px;
}
.login-title {
    text-align: right;
}
.input-btn {
    display: flex;
    justify-content: space-between;
}
li.submenus::after {
    left: 10px;
    right: auto;
    content: '\f053';
}
.main-menu li.submenus ul {
    left: auto;
    right: 100%;
}









@media only screen and (min-width: 992px) {
    .offset-lg-3 {
        margin-right: 25%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 992px) and (max-width: 1024px) {

}

@media only screen and (max-width: 991px) {
    .hero-txt {
        padding-left: 30px;
    }
    .support-bar-area .text-left {
        text-align: center!important;
    }
    .support-contact-info {
        text-align: center;
    }
    .support-bar-area ul.social-links::after {
        right: 100%;
    } 
    .slicknav_nav a, .slicknav_nav .slicknav_row, ul.slicknav_nav li a.boxed-btn {
        text-align: right;
    }  
    h5.service-title {
        text-align: right;
    }

    .product-area .shop-search {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {

}

@media only screen and (max-width: 767px) { 
    .approach-summary {
        padding-left: 0px;
    }
    .cta-section h3 {
        text-align: center;
    }
    .contact-btn-wrapper {
        text-align: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 621) and (max-width: 650px) {

}

@media only screen and (min-width: 576px) and (max-width: 620px) {

}

@media only screen and (max-width: 575px) {
    
}

@media only screen and (min-width: 481px) and (max-width: 520px) {

}

@media only screen and (max-width: 480px) {
    .product-details-area .product-details-content {
        margin-left: 0px;
        margin-right: 20px;
    }
    .actions .main-btn {
        padding: 10px 16px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 414px) {

}

@media only screen and (max-width: 395px) {

}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 365px) {

}

@media only screen and (max-width: 365px) {

}

@media only screen and (max-width: 365px) {

}

@media only screen and (max-width: 350px) {

}
